@model LancheListViewModel

@{
    ViewBag.title = "Lista de alimento"; @*Layout = null;*@
}

<div>
    @*
    <h2>@ViewData["Titulo"]</h2>
    <h6>@ViewBag.Lanches @ViewBag.TotalLanche</h6>
    <h6>@TempData["NomeTeste"]</h6>
    *@

    <h2>@Model.CategoriaAtual</h2>
</div>
<div class="container">
    <div class="row">
        @foreach(var lanche in Model.Lanches)
        {
            <partial name="_LancheResumo" for="@lanche" />
        }
    </div>
</div>