@model IEnumerable<LanchesMac.Models.Lanche>

@{ ViewBag.title = "Lista de alimento"; }

<div>
    <h2>@ViewData["Titulo"]</h2>
    <h6>@ViewBag.Lanches @ViewBag.TotalLanche</h6>

    <h6>@TempData["NomeTeste"]</h6>
</div>

@foreach(var lanche in Model)
{
    <div>
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl"></p>
        <p>@lanche.DescricaoCurta</p>
    </div>
}